## API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api

# Optional
## Environment
APP_ENV=development
PORT=3000
CI=false

## Analytics & Monitoring
# PostHog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com   # API ingestion host (us or eu)
NEXT_PUBLIC_POSTHOG_UI_HOST=https://us.posthog.com  # PostHog app UI host (for toolbar)

# Umami
NEXT_PUBLIC_UMAMI_WEBSITE_ID=''
UMAMI_SCRIPT_URL=''
UMAMI_API_URL=''
