/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-background text-textDarkBackground;
}

/* Scrollbars */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Drop target highlight */
.bg-dropTarget {
  background-color: rgba(125, 144, 237, 0.2);
}
