@import 'tailwindcss';
@import 'tw-animate-css';

@import '../services/themes/light.css';
@import '../services/themes/dark.css';

/* Scrollbars */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
