/* Dark

*/
@layer theme {
  [data-theme='dark'] {
    /* Base colors */
    --color-primary: #2f2b4b;
    --color-secondary: #40314e;
    --color-neutral: #2f3359;
    --color-white: #ffffff;

    /* Theme variables */
    --color-navbar: var(--color-secondary);
    --color-background: #1f1824;
    --color-sessions: #211f33;
    --color-courseSidebar: var(--color-primary);
    --color-login: var(--color-primary);
    --color-loginButtonHover: #8c89f2;

    /* Text contrast */
    --color-textDarkBackground: #f0f4ff;
    --color-textLightBackground: var(--color-white);
    --color-sessionCourse: var(--color-neutral);

    /* Status tags */
    --color-creditsTag: var(--color-white);
    --color-completedCourseTag: #6de9a2;
    --color-inProgressCourseTag: #eed37e;
    --color-failedCourseTag: #ffa5a6;
    --color-notOfferedCourseTag: #d15656;
    --color-buttonTags: #a5a1ff;

    /* Session availability */
    --color-sessionAvailable-border: #4ade80;
    --color-sessionAvailable-borderHover: #22c55e;
    --color-sessionAvailable-bgHover: #bbf7d0;
    --color-sessionUnavailable-border: #f87171;
    --color-sessionUnavailable-borderHover: #ef4444;
    --color-sessionUnavailable-bgHover: #fecaca;

    /* Buttons */
    --color-button-bg: var(--color-secondary);
    --color-button-bg-hover: #7d90ed;
    --color-button-border: var(--color-secondary);
    --color-searchbar: var(--color-neutral);
  }
}
