/* Dark

*/
@layer theme {
  [data-theme='dark'] {
    --background: rgba(122, 94, 182, 0.655); /*#2f2b4b;*/
    --foreground: #b3a7bb;

    --primary: #7d90ed;
    --primary-foreground: var(--foreground);

    --secondary: #4f435a;
    --secondary-foreground: #f0f4ff;
    --secondary-hover: #504060;

    --muted: #2f3359;
    --muted-foreground: #8c89f2;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --popover: #2f2b4b;
    --popover-foreground: #f0f4ff;

    --card: #2f2b4b;
    --card-foreground: #f0f4ff;

    /* Status tags */
    --completedCourseTag: #6de9a2;
    --inProgressCourseTag: #eed37e;
    --failedCourseTag: #ffa5a6;
    --notOfferedCourseTag: #d15656;

    /* Session availability */
    --sessionAvailable-border: #4ade80;
    --sessionAvailable-borderHover: #22c55e;
    --sessionAvailable-bgHover: #bbf7d0;
    --sessionUnavailable-border: #f87171;
    --sessionUnavailable-bgHover: #fecaca;

    /* Extras */
    --border: var(--secondary);
    --searchbar: #2f3359;
    --input: #2f3359;
    --radius: 0.5rem;
  }
}
